@using Admin.Models;
@model IEnumerable<TransactionExt>


    <h1>Withdraw</h1>

@*<form asp-page="/Users" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="/Users">Back to full List</a>
            </p>
        </div>
    </form>*@

<table id="myTable" class="table" cellspacing="0">
    <thead>
        <tr>
            @foreach (var property in Model.First().GetType().GetProperties())
            {
                <td>@property.Name</td>
            }
            @*<td> <a asp-page="EditUser" asp-route-id="@item.Id">Edit</a></td>*@
        </tr>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Id)
            </th>
            <th>
                <a asp-page="/Users" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </a>
            </th>
            <th>
                <a asp-page="/Users" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Users[0].Registered)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Type)
            </th>
            <th>
                <a asp-page="/Users" asp-route-sortOrder="@Model.TwoFactorEnabledSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Users[0].TwoFactorEnabled)
                </a>
            </th>
            <th>
                <a asp-page="/Users" asp-route-sortOrder="@Model.EmailConfirmedSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Users[0].EmailConfirmed)
                </a>
            </th>
            <th />
        </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var property in item.GetType().GetProperties())
                {
                    <td>@property.GetValue(item)</td>
                }
                @*<td> <a asp-page="EditUser" asp-route-id="@item.Id">Edit</a></td>*@
            </tr>
        }
    </tbody>
</table>

@*@{
        var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
    }*@

@*<a asp-page="/Users"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="/Users"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @nextDisabled">
        Next
    </a>*@