@page
@model UsersModel
@{
    ViewData["Title"] = "Users List";
}
<h1>@ViewData["Title"]</h1>

<form asp-page="/Users" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="/Users">Back to full List</a>
        </p>
    </div>
</form>

<table id="myTable" class="table" cellspacing="0">
    <thead>
        <tr>
            <th>
                <div class="btn-group">
                    <a class="btn btn-primary disabled" asp-page="/Users" asp-route-sortOrder="@Model.DateSort"
                       asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model.Users[0].Id)</a>
                    <button type="button" class="btn btn-primary dropdown-toggle disabled" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Smartphone</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <a class="btn btn-primary disabled" asp-page="/Users" asp-route-sortOrder="@Model.NameSort"
                       asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model.Users[0].UserName)</a>
                    <button type="button" class="btn btn-primary dropdown-toggle disabled " data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var userName in Model.UsersNames)
                        {
                            @*<li><a asp-page="/Users" asp-route-currentFilterFieldName="userName" asp-route-currentFilter=@userName>@userName</a></li>*@
                        }
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <a class="btn btn-primary disabled" asp-page="/Users" asp-route-sortOrder="@Model.DateSort"
                       asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model.Users[0].Registered)</a>
                    <button type="button" class="btn btn-primary dropdown-toggle disabled" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Smartphone</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <a class="btn btn-primary disabled" asp-page="/Users" asp-route-sortOrder=""
                       asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model.Users[0].PhoneNumber)</a>
                    <button type="button" class="btn btn-primary dropdown-toggle disabled" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Smartphone</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <a class="btn btn-primary" asp-page="/Users" asp-route-sortOrder="@Model.TwoFactorEnabledSort"
                       asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model.Users[0].TwoFactorEnabled)</a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-page="/Users" asp-route-currentFilterFieldName="TwoFactorEnabled" asp-route-currentFilter=true>true</a></li>
                        <li><a asp-page="/Users" asp-route-currentFilterFieldName="TwoFactorEnabled" asp-route-currentFilter=false>false</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <a class="btn btn-primary" asp-page="/Users" asp-route-sortOrder="@Model.EmailConfirmedSort"
                       asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model.Users[0].EmailConfirmed)</a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-page="/Users" asp-route-currentFilterFieldName="EmailConfirmed" asp-route-currentFilter=true>true</a></li>
                        <li><a asp-page="/Users" asp-route-currentFilterFieldName="EmailConfirmed" asp-route-currentFilter=false>false</a></li>
                    </ul>
                </div>
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                @foreach (var property in item.GetType().GetProperties())
                {
                    <td>@property.GetValue(item)</td>
                }
                <td> <a asp-page="EditUser" asp-route-id="@item.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
}

<a asp-page="/Users"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="/Users"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
<div>@Model.Users.PageIndex/@Model.Users.TotalPages  Total: @Model.UsersIQ.Count() users (on page: @Model.Users.Count)</div>